*{
  padding:0;
  margin:0;
}

.contain{
  height:100vh;
  background-color: lightgray;
  position:relative;
  max-width: 1400px;
}

.contain .sidebar{
 
  background-color:#fff;
  height:100vh;
  width:200px;
  z-index:10;
  box-shadow:0px 15px 30px rgba(0,0,0,0.1);
  margin-left: 0%;
  padding: 1rem 0;
  padding-left:20px;
}
/* .sidebar li:nth-child(1){
      text-align: center;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  margin-right: 19px;
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  font-family: emoji;
  padding-top:30px;
} */




.sidebar li{
  padding:12px;
  cursor:pointer;
  transition:all 0.5s;
  letter-spacing:1px;
  display:flex;
  align-items:center;
   gap:10px;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}

.sidebar li span:nth-child(1){
  font-size:16px;
}

.sidebar li span:nth-child(2){
  font-size:14px;
}

.sidebar li:hover{
  background-color:#EA2C62;
  color:#fff;
  transition:all 0.5s;
   
}


.contain.content{
  
  padding-left:75px;
}
.link-dark{
  text-decoration: none;
}
span {
  color: lightslategray;
}



/* 
h1 {
  margin-left: 520px;
}
.pro-sidebar {
  color: #adadad;
  height: 100%;
  width: 270px;
  min-width: 270px;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009;
  position: fixed;
  top: 0px;
}
li {
  font-size: 30px;
  margin-top: 50px;
  color: white;
  margin-left: 20px;
}
span {
  font-size: 30px;
  margin-left: 20px;
  color: white;
}
table.table.table-striped.table-bordered.table-hover {
  margin-left: 320px;
  width: 40%;
}
strong {
  margin-left: 240px;
}
form {
 
  height: 580px;
  width: 140px;
}
img {
  width: 120px;
  height: 120px;
}
input {
  
  margin-left: 200px;
  padding-top: 9px;
  border-radius: 3px;
}


btn_sub{
  margin-left: 220px;
  margin-top: 20px;
} */

.mainHeader{
  position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
}
img {
  height: 82px;
}

.mainBody{
  display: flex;
}
.mainContent {
  margin-left: 284px;
  margin-top: 90px;
}
.mainSidebar {
  position: fixed;
 
  /* border-radius: 2px; */
  margin-top: 56px;
  border-radius: 9px;
}
th {
  font-size: smaller;
}
button.btn.btn-outline-warning {
  margin-left: 831px;
  margin-bottom: 8px;
}
.table-bordered>:not(caption)>*>* {
  border-width: 1px 2px;
}

.modal-content {
  border-radius: 20px;
}
th {
  width: 90px;
}
.errorm {
  color: #e94949;
}
.offcanvas-title.h5 {
  font-size: 18px;
}