@import 'react-pro-sidebar/dist/css/styles.css';



h1 {
  margin-left: 520px;
}
.pro-sidebar {
  color: #adadad;
  height: 100%;
  width: 270px;
  min-width: 270px;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009;
  position: fixed;
  top: 0px;
}
li {
  font-size: 30px;
  margin-top: 50px;
  color: white;
  margin-left: 20px;
}
span {
  font-size: 30px;
  margin-left: 20px;
  color: white;
}
table.table.table-striped.table-bordered.table-hover {
  margin-left: 450px;
  width: 40%;
}
